---
layout: default
---

<div class="wrap">
{{ content }}

<ul class="grid">
  {% for post in site.posts %}
  <li>
    {% if post.gallery %}
    <div class="grid-thumb"><img src="{{ post.gallery[0].image | relative_url }}" alt="" loading="lazy"></div>
    {% endif %}
    <div class="meta">{{ post.categories | first }}<span class="date">{{ post.date | date: "%d.%m.%y" }}</span></div>
    <div class="title"><a href="{{ post.url | relative_url }}">{{ post.title }}</a></div>
    {% if post.excerpt %}<p class="excerpt">{{ post.excerpt | strip_html | truncatewords: 20 }}</p>{% endif %}
  </li>
  {% endfor %}
</ul>
</div>
